@model PussyCats.Library.Domain.PersonalityTestResult?
@{
    ViewData["Title"] = "Personality Test Result";
}
<h1>Personality Test</h1>

<h4>Selected Role: @Model.SelectedRole</h4>
<a class="btn btn-primary" asp-action="Take">Take test</a>
