<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop.Analyzers rules with default action" Description="StyleCop.Analyzers with default action. Rules with IsEnabledByDefault = false are disabled." ToolsVersion="18.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.NamingRules">
    <Rule Id="SA1300" Action="Warning" />
    <Rule Id="SA1302" Action="Warning" />
    <Rule Id="SA1303" Action="Warning" />
    <Rule Id="SA1304" Action="Warning" />
    <Rule Id="SA1306" Action="Warning" />
    <Rule Id="SA1307" Action="Warning" />
    <Rule Id="SA1308" Action="Warning" />
    <Rule Id="SA1309" Action="Warning" />
    <Rule Id="SA1311" Action="Warning" />
    <Rule Id="SA1312" Action="Warning" />
    <Rule Id="SA1313" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.ReadabilityRules">
    <Rule Id="SA1102" Action="Warning" />
    <Rule Id="SA1106" Action="Warning" />
    <Rule Id="SA1107" Action="Warning" />
    <Rule Id="SA1110" Action="Warning" />
    <Rule Id="SA1111" Action="Warning" />
    <Rule Id="SA1112" Action="Warning" />
    <Rule Id="SA1113" Action="Warning" />
    <Rule Id="SA1114" Action="Warning" />
    <Rule Id="SA1115" Action="Warning" />
    <Rule Id="SA1120" Action="Warning" />
    <Rule Id="SA1121" Action="Warning" />
    <Rule Id="SA1125" Action="Warning" />
    <Rule Id="SA1132" Action="Warning" />
    <Rule Id="SA1136" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpacingRules">
    <Rule Id="SA1000" Action="Warning" />
    <Rule Id="SA1001" Action="Warning" />
    <Rule Id="SA1002" Action="Warning" />
    <Rule Id="SA1003" Action="Warning" />
    <Rule Id="SA1005" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers.SpecialRules">
    <Rule Id="SA0001" Action="Warning" />
    <Rule Id="SA0002" Action="Warning" />
  </Rules>
</RuleSet>