@model PussyCats.Library.Domain.Skill
@{
    ViewData["Title"] = "Delete Skill";
}

<h1>Delete Skill</h1>
<h3 class="text-danger">Are you sure you want to delete this?</h3>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>
    <dt class="col-sm-3">Category</dt>
    <dd class="col-sm-9">@Model.Category</dd>
</dl>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="SkillId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>